language: node_js
node_js:
  - 12
cache: yarn
script:
  - yarn test
  - yarn build
deploy:
  provider: firebase
  token:
    secure: tOqiYheLakZrZbu6IbZvjnBTb+FgEmI66lvsiKte5yyzifiwmwmE/w4xgnMXsocXmFgkKqQha9ZdrJxJXUnAF+QtPV2dGJ/XxqNuQ4QZa5vP9iuE2q/GMMMmDltZVMLLjgErOwtLt/R9WnfKWme4AklOgyAY/ObkCSEMAa+NHIDnOIJmHVh5O//XZKBtLE2pa4a/JIJQkWj1mp6Kmt7aIUJOurJVqEuJIpHrWmRv5cL84HtOG0AlVVg2B9dU/0Q+2aLqL+cPHaQzcRMT8iDmTepGMw4ZmblAm+51gXEfE8+5Z1Knj/FXgEp2dGa5tWPoTgNA3d08SXWodseGT3oS9b4u/am9UJnlZKr6AkBRDOvnc3sR7l04Cvzv3vz1GRnD1w6ZwbkRRGtkCe4FdQ8ZwSW2mXPwM5XQ9YYdm/7nK9hwQ/aGunJgEll30iu3T9F6rebMENj28VworZvQNJdK1KR4fKiHznfxl3eFG1fNBkCd/cJNGKG8JERFRybOn8ru2iW4ZRvTUuCat0xqfR/IZr/zg7O/Rwxvahbg8X6dHwYKmU+5bk1P5fUcqkdxcs6HM2r7m3ENhf8xQ2W8Rat3SlV0hKVTZfnpNjJFUimMmuC6nIZqqLHpdFJAlW0fmEj2k3ON4N0cmfdwWjU5njwH3mLQ8GNDLR4D215JCxKjYYM=
before_install:
  - openssl aes-256-cbc -K $encrypted_3c84dcdc6bbe_key -iv $encrypted_3c84dcdc6bbe_iv -in .env.enc -out .env -d
env:
  global:
    secure: tOqiYheLakZrZbu6IbZvjnBTb+FgEmI66lvsiKte5yyzifiwmwmE/w4xgnMXsocXmFgkKqQha9ZdrJxJXUnAF+QtPV2dGJ/XxqNuQ4QZa5vP9iuE2q/GMMMmDltZVMLLjgErOwtLt/R9WnfKWme4AklOgyAY/ObkCSEMAa+NHIDnOIJmHVh5O//XZKBtLE2pa4a/JIJQkWj1mp6Kmt7aIUJOurJVqEuJIpHrWmRv5cL84HtOG0AlVVg2B9dU/0Q+2aLqL+cPHaQzcRMT8iDmTepGMw4ZmblAm+51gXEfE8+5Z1Knj/FXgEp2dGa5tWPoTgNA3d08SXWodseGT3oS9b4u/am9UJnlZKr6AkBRDOvnc3sR7l04Cvzv3vz1GRnD1w6ZwbkRRGtkCe4FdQ8ZwSW2mXPwM5XQ9YYdm/7nK9hwQ/aGunJgEll30iu3T9F6rebMENj28VworZvQNJdK1KR4fKiHznfxl3eFG1fNBkCd/cJNGKG8JERFRybOn8ru2iW4ZRvTUuCat0xqfR/IZr/zg7O/Rwxvahbg8X6dHwYKmU+5bk1P5fUcqkdxcs6HM2r7m3ENhf8xQ2W8Rat3SlV0hKVTZfnpNjJFUimMmuC6nIZqqLHpdFJAlW0fmEj2k3ON4N0cmfdwWjU5njwH3mLQ8GNDLR4D215JCxKjYYM=
